@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "SUSE";
    
}

::selection {
    -webkit-text-stroke: 1px transparent;
    background: black;
    color: white;
}

.subTitle {
    box-shadow: 4px 4px 2px #21F10D;
}

.select {
    background-color:#21F10D ;
    color: white;
    box-shadow: 0 0 1px black;
}

.wrong {
    background-color:rgb(233,0,0) ;
    color: white;
    box-shadow: 0 0 1px black;
}

.icon {
    position: absolute;
    top: 3vw;
}